<form (ngSubmit)="onSubmit()" #f="ngForm">

  <div class="form-row">
    <div class="col-md-3">
      <div class="form-group row">
        <label for="code" class="col-md-3 col-form-label">الرمز :</label>
        <div class="col-md-8">
            <input type="text"
            id="code"
            name="code"
            class="form-control"
            [ngClass]="{'is-invalid':!code.valid && code.touched}"
            ngModel
            required
            placeholder="رمز العلاقة"
            minlength="3"
            maxlength="3"
            #code="ngModel">
            <small class="invalid-feedback"
                  *ngIf="!code.valid && code.touched">
                    الرجاء ادخال رمز العلاقة
            </small>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <label for="name" class="col-md-3 col-form-label">العلاقة :</label>
        <div class="col-md-8">
            <input type="text"
            id="name"
            name="name"
            class="form-control"
            [ngClass]="{'is-invalid':!name.valid && name.touched}"
            ngModel
            required
            placeholder="نوع العلاقة"
            #name="ngModel"
            #nameInput>
            <small class="invalid-feedback"
                  *ngIf="!name.valid && name.touched">
                    الرجاء ادخال وصف العلاقة
            </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="!f.valid"
                style="min-width: 100px">
            <i class="fas fa-pen"></i>   {{ editMode ? 'تعديل' : 'حفظ' }}
        </button>
        <button
            class="btn btn-danger"
            type="button"
            (click)="onDelete()"
            style="margin-right: 10px;min-width: 100px;"
            *ngIf="editMode"><i class="fas fa-trash"></i> حذف </button>
          <button
            class="btn btn-warning"
            type="button"
            (click)="onClear()"
            style="margin-right: 10px;min-width: 100px"><i class="fas fa-ban"></i> إلغاء الأمر </button>
    </div>
  </div>
</form>
