<p *ngIf="relations.length < 1 && !isFetching">... لا يوجد بيانات مسجلة ...</p>
<div class="list-group" *ngIf="relations.length >= 1 && !isFetching">
  <a
    style="cursor: pointer;"
    class="list-group-item list-group-item-action clearfix"
    *ngFor="let relation of relations; let i = index"
    (click)="onRelationClick(relation.code)">
    {{ relation.code }} - {{ relation.name }}
  </a>
</div>
<p *ngIf="isFetching && !error">الرجاء الاتنظار جاري تجميل البيانات ...</p>
<div class="alert alert-danger" *ngIf="error">
  <h1>خطأ في النظام</h1>
  <p>{{ error }}</p>
</div>
