<div class="container">
  <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}"
          routerLink='/'>الرئيسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive='active' routerLink='relations'>العلاقات</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
           routerLinkActive="active"
           routerLink="beneficiaries">المستفيدون</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">البنوك</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
            routerLink="about"
            routerLinkActive="active">عن البرنامج</a>
      </li>
    </ul>
</div>
