.content {
  margin-top: 20px;
  /* padding: 20px;
  background-color: white;
  min-height: 400px;
  border-bottom: 1px solid lightgray;
  box-shadow: 3px 1px 10px #c5bdbd;
  border-radius: 15px; */
}
