<form [formGroup]="beneficiariesForm"  (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
        <div class="form-group">
            <label for="code">الرمز :</label>
            <input type="text"
               id="code"
               formControlName="code"
               class="form-control"
               [class.is-invalid]="!beneficiaryCodeControl.valid && beneficiaryCodeControl.touched && !beneficiaryCodeControl.pending"
               [class.is-valid]="beneficiaryCodeControl.valid && beneficiaryCodeControl.touched && !beneficiaryCodeControl.pending"
               style="max-width: 250px;"
               aria-describedby="codeHelp">
               <small id="codeHelp" *ngIf="!beneficiaryCodeControl.valid && !beneficiaryCodeControl.pending" class="invalid-feedback">
                  <span *ngIf="beneficiaryCodeControl.errors['required']">
                      الرجاء ادخال رمز المستفيد
                  </span>
                  <span *ngIf="beneficiaryCodeControl.errors['pattern']">
                        رمز المستفيد غير صحيح
                  </span>
                  <span *ngIf="beneficiaryCodeControl.errors['invalidCode']">
                        رمز المستفيد غير ممكن
                  </span>
                  <span *ngIf="beneficiaryCodeControl.errors['codeIsDuplicate']">
                        رمز المستفيد مسجل مسبقاً
                  </span>
               </small>
               <small class="form-text text-muted" *ngIf="beneficiaryCodeControl.pending"
                style="font-style: italic;">
                جاري التحقق الرجاء الانتظار ...
               </small>
        </div>
        <div class="form-group">
            <label for="name">الاسم</label>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control"
                   [class.is-invalid]="!beneficiaryNameControl.valid && beneficiaryNameControl.touched && !beneficiaryNameControl.pending"
                   [class.is-valid]="beneficiaryNameControl.valid && beneficiaryNameControl.touched && !beneficiaryNameControl.pending"
                   aria-describedby="nameHelp">
            <small
              id="nameHelp"
              class="invalid-feedback"
             *ngIf="!beneficiaryNameControl.valid && !beneficiaryNameControl.pending">
             <span *ngIf="beneficiaryNameControl.errors['required']">
              الرجاء ادخال الاسم
             </span>
             <span *ngIf="beneficiaryNameControl.errors['minlength']">
             عفوا الاسم يجب ان لايقل عن حرفين
             </span>
             <span *ngIf="beneficiaryNameControl.errors['nameIsDuplicate']">
             عفوا الاسم مسجل مسبقاً
             </span>
            </small>
            <small class="form-text text-muted" *ngIf="beneficiaryNameControl.pending"
                style="font-style: italic;">
                جاري التحقق الرجاء الانتظار ...
            </small>
        </div>
        <div class="form-group">
            <label for="relation">العلاقة</label>
            <select
              id="relation"
              class="form-control"
              formControlName="relation"
              aria-describedby="relationHelp">
              <option *ngFor="let relation of relationsList" [ngValue]="relation.name">{{ relation.name }}</option>
            </select>
            <small id="relationHelp" class="form-text text-muted">علاقة المستفيد</small>
        </div>
        <div class="form-group">
            <label for="mobile">الهاتف</label>
            <input type="text"
                   id="mobile"
                   formControlName="mobile"
                   class="form-control"
                   [class.is-invalid]="!beneficiariesForm.get('mobile').valid && beneficiariesForm.get('mobile').touched && !beneficiariesForm.get('mobile').pending"
                   [class.is-valid]="beneficiariesForm.get('mobile').valid && beneficiariesForm.get('mobile').touched && !beneficiariesForm.get('mobile').pending && beneficiariesForm.get('mobile').value && beneficiariesForm.get('mobile').value.length > 0"
                   aria-describedby="mobileHelp">
            <small id="mobileHelp" *ngIf="!beneficiariesForm.get('mobile').valid && !beneficiariesForm.get('mobile').pending" class="invalid-feedback">
              <span *ngIf="beneficiariesForm.get('mobile').errors['invalidMobile']">
                رقم الهاتف غير صحيح
              </span>
            </small>
        </div>
        <div class="form-group">
            <label for="email">البريد الالكتروني</label>
            <input type="email"
                   id="email"
                   formControlName="email"
                   class="form-control"
                   [class.is-invalid]="!beneficiariesForm.get('email').valid && beneficiariesForm.get('email').touched && !beneficiariesForm.get('email').pending"
                   [class.is-valid]="beneficiariesForm.get('email').valid && beneficiariesForm.get('email').touched && !beneficiariesForm.get('email').pending && beneficiariesForm.get('email').value && beneficiariesForm.get('email').value.length > 0"
                   aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">البريد الالكتروني للمستفيد</small>
        </div>
    </div>
    <div class="col">

    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!beneficiariesForm.valid">حفظ</button>
</form>
